<section class="page__share">
  {% if site.data.ui-text[site.locale].share_on_label %}
    <h4 class="page__share-title">{{ site.data.ui-text[site.locale].share_on_label | default: "Share on" }}</h4>
  {% endif %}
  
  <a href=https://www.hanilians.xyz/{{ page.url | absolute_url | url_encode }}" class="btn btn--facebook" onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} 한일리안"><i src="file:///home/chronos/u-cd28c2f038fe1ab9f34235a6cdb2465db23eb40c/MyFiles/Downloads/Play.jpg" alt="Hanilgo"></i><span> 한일리안</span></a>
</section>
